<body>
    <nav>
        <p-panelMenu [model]="items" [style]="{'width':'var(--nav-width)'}" [multiple]="true"></p-panelMenu>
    </nav>
    <main>
        <aside class="top">
            <p-chip [label]="displayName" icon="pi pi-user" styleClass="p-mr-2"></p-chip>
            <div>
                <button pButton label="Logout" icon="pi pi-sign-out" (click)="logout()"></button>
            </div>
        </aside>
        <p-card>
            <h3>{{pageTitle | titlecase}}</h3>
            <ng-content select=".page-content"></ng-content>
        </p-card>
    </main>
</body>