<app-educate-menu [pageTitle]="'Departments'">
    <ng-container class="page-content">
        <p-table [value]="departments">
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Motto</th>
                    <th>HOD</th>
                    <th>Courses</th>
                    <th>Members</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-department>
                <tr>
                    <td>{{department.name | titlecase}}</td>
                    <td>{{department.contact}}</td>
                    <td>{{department.motto}}</td>
                    <td>{{department.hodName}}</td>
                    <td (click)="onViewCourses(department)" class="link">Courses</td>
                    <td (click)="onViewMembers(department)" class="link">Members</td>
                </tr>
            </ng-template>
        </p-table>
    </ng-container>
</app-educate-menu>