:root {
    --nav-width: 250px;
    --cream-color: #e4e4e4fa;
}

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body {
    padding    : 0;
    margin: 0;
    background-color: var(--cream-color);
    font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
}